* {
    margin: 0;
    padding: 0;
}
/* header section */
.navbar-nav li a {
    color: white;
}
.navbar-brand {
    margin-left: 80px;
}
.header-btn {
    background-color: #f9004d;
    color: white;
    margin-right: 15px;
    padding: 5px 28px 5px 28px;
}

/* hero section */
.hero-btn {
    margin-left: 79px;
    padding: 0px 18px 0px 18px;
    border: none;
    color: white;
    background-color: #f9004d;
    border-radius: 30px;
    cursor: pointer;
}
.search-btn {
    display: flex !important;
    border: 1px solid;
    width: 240px;
    border-radius: 25px;
}
.margin-top {
    margin-left: 100px;
}
.hero-left {
    width: 660px;
    margin-top: 190px;
}
.hero-img img{
    margin-left: 230px;
    margin-top: -80px;
}
.hero-span {
    color: #f9004d;
}
/* about section */
.about-left {
    margin-left: 240px;
    width: 350px;
}
.about-right {
    margin-left: 130px;
}
.about-right button {
    background-color: #f9004d;
    padding: 5px 28px 5px 28px;
}
.bg-dark {
    padding: 60px;
}
.about-bg {
    padding: 90px;
}
.about-description {
    width: 484px;
    text-align: justify;
}
.about-btn {
    width: 130px;
    background-color: #f9004d;
}
/* service section */
.service-card {
    width: 25rem;
    margin-left: 12px;
    text-align: center;
}
.service-card a {
    background-color: #f9004d;
}
.card-body {
    padding: 12px;
}
.service-card i {
    color: #f9004d;
}
.web-btn {
    background-color: #f9004d;
    color: white;
    padding: 5px 28px 5px 28px;
}
/* footer section */
.footer-bg {
    padding: 40px;
}
.footer-navber {
    display: inline-flex;
    gap: 25px;
}
.footer-navber li {
    list-style: none;
}
.footer-navber li a {
    text-decoration: none;
    color: white;
}
.footer-navber i {
    width: 20px;
}
