* {
    margin: 0;
    padding: 0;
}
/* header section */
.navbar-nav li a {
    color: white;
}
/* .text-white p {
    color: white;
}
.text-white h1 {
    color: white;
} */
.navbar-brand {
    margin-left: 80px;
}

/* hero section */
.hero-btn {
    margin-left: 79px;
    padding: 0px 18px 0px 18px;
    border: none;
    color: white;
    background-color: #ce2f2f;
    border-radius: 30px;
    cursor: pointer;
}
.search-btn {
    display: flex !important;
    border: 1px solid;
    width: 240px;
    border-radius: 25px;
}
.margin-top {
    margin-top: 100px;
    margin-left: 100px;
}
.hero-left {
    margin-left: -25px;
}
/* about section */
.about-left {
    margin-left: 260px;
    width: 350px;
}
.about-right {
    margin-left: 130px;
}
.bg-dark {
    padding: 60px;
}
.about-description {
    width: 484px;
    text-align: justify;
}
.btn-danger {
    width: 130px;
}